<%- include('header'); -%>

    <div class="ui main text container segment">
        <div class="ui huge header">Edit <%=blog.title%></div>
        <form class= "ui form" action="/blogs" method="PUT">
            <div class="field">
                <label>Title</label>
                <input type="text" name="title" value="<%= blog.title%>">
            </div>
            <div class='field'>
                <label>Image Url</label>
                <input type="text" name="image" value="<%= blog.image%>">
            </div>
            <div class="field">
                <label> Say something About it</label>
                <textarea name="body" id="" cols="20" rows="5" ><%=blog.body%></textarea>
            </div>
            <input type="submit" class="ui violet basic b">
        </form>
    </div>

<%- include('footer'); -%>

